.about {
    background-image: url("../images/background-about.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    &__content {
        display: flex;
    }
}