.info {
    background-image: url("../images/info-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    padding-bottom: 100px;
}