.services {
    padding-bottom: 200px;

    &__title {
        width: 600px;
        padding-bottom: 100px;
    }

    &__inner {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    &__box-list {
        width: 620px;
    }

    &__list-title {
        font-size: 24px;
        line-height: 29px;
        margin-bottom: 25px;
    }

    &__list {
        margin-bottom: 25px;
    }

    &__item {
        font-size: 24px;
        line-height: 29px;
        padding-left: 36px;
        position: relative;
        &::before {
        position: absolute;
        content: "";
        background-color: #fff;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        left: 0;
        top: 4px;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
        }
    }
    
    &__text {
        font-size: 12px;
        line-height: 14px;          
        color: #E5E5E5;
    }

    &__buttons {
        display: flex;  
        flex-direction: column;
        
    }

    &__btn {
        width: 500px;
    }

    &__btn--first {
        margin-bottom: 50px;
        position: relative;
        &::before {
            position: absolute;
            content: "";
            background-image: url("../images/service-img.png");
            width: 192px;
            height: 150px;
            right: 0;
            bottom: 40px;
        }
    }


}
