@media (max-width: 1160px) {
    .header {
        &__description-text {
            font-size: 20px;
            line-height: 20px;
            max-width: 100%;
            margin-right: 0;
            text-align: center;
            &:first-child {
                margin-bottom: 40px;
            }
        }
    }
        
    .about {
        text-align: center;
        &__title {
            text-align: center;
        }
        &__content {
            display: block;
        }

        &__img {
            margin-bottom: 40px;
        }

        &__box {
            width: 100%;
        }

        &__description {
            display: block;
        }

        &__description-text {
            width: 100%;
            font-size: 20px;
            line-height: 20px;
            &:nth-child(-n+2) {
                margin-bottom: 20px;
            }
        }

        &__table {
            width: 100%;
        }

        &__note {
            font-size: 17px;
        }
    }
}

@media (max-width: 1136px) {
    

    .how-to {
        &__title {
            margin: 0 auto;
        }

        &__box {
            text-align: end;
        }
    }

    .to-book {
        &__box {
            padding-top: 30%;
        }
    }

    .offer {
        &__title {
            margin: 0 auto;
        }
    }

    .footer {
        &__inner {
            justify-content: center;
        }
    }

}

@media (max-width: 1050px) {
    .offer {
        &__inner {
            display: block;
        }
        
        &__item {
            width: 100%;
        }

        &__btn-first {
            margin-bottom: 40px;
        }
    }

    .contacts {
        &__inner {
            display: block;
        }

        &__box {
            width: 100%;
        }
        &__wrap {
            margin: 0 auto;
        }
    }
}

@media (max-width: 1024px) {
    .header {
        &__btn-menu {
        margin-right: 0;
        }
    }
    .about {
        &__content {
            padding-bottom: 75px;
        }
    }

    .to-book {
        &__box {
            display: block;
        }

        &__title {
            margin-bottom: 40px;
        }

        &__text {
            width: 100%;
            margin: 0 0 30px;
        }
    }

    .contacts {
        &__btn {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 1036px) {
    .offer {
        &__inner {
            flex-direction: column;
            align-items: center;
        }

        &__btn-first {
            margin-bottom: 40px;
        }
    }
}

@media (max-width: 896px) {
    .header {
        &__top {
            padding: 30px 0 110px;
        }
        
        &__btn-burger {
        display: block;
        } 

        &__link-phone {
            font-size: 18px;
        }

        &__inner {
            display: block;
        }  
        
        &__content {
            margin: 0 auto;
        }

        &__btn {
            margin-bottom: 125px;
        }

        &__description {
            display: block;
            margin: 0;
        }
    }

    .menu {
        &__btn-burger {
            display: block;
        }

        &__list {
            display: block;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            background-color: #010203;
            padding: 80px 0 20px;
            text-align: center;
            width: 100%;
            transform: translateY(-150%);
            -webkit-transform: translateY(-150%);
            -moz-transform: translateY(-150%);
            -ms-transform: translateY(-150%);
            -o-transform: translateY(-150%);
        }

        &__list.active {
            transform: translateY(0);
            -webkit-transform: translateY(0);
            -moz-transform: translateY(0);
            -ms-transform: translateY(0);
            -o-transform: translateY(0);
        }

        &__item {
            margin: 0;
            padding: 15px 0;
        }

        &__item-link {
            display: block;
        }
    }

    .how-to {
        padding: 0;
        &__title {
            margin-bottom: 50px;
        }
        &__box svg{
            display: none;
        }

        &__box-list {
            display: block;
        }

        &__box-item {
            font-size: 20px;
            padding-bottom: 20px;
            text-align: left;
            padding-left: 20px;
            margin-left: 20px;
            position: relative;
            border-left: 1px solid #fff;
            &::before {
                content: "";
                position: absolute;
                left: -10px;
                top: 0;
                width: 20px;
                height: 20px;
                border-radius: 50%;
                -webkit-border-radius: 50%;
                -moz-border-radius: 50%;
                -ms-border-radius: 50%;
                -o-border-radius: 50%;
                background-color: #fff;
            }
            &:last-child {
                border: none;
            }
        }
    }

    .services {
        padding-bottom: 100px;

        .services {
            &__inner {
                display: block;
            }
    
            &__box-list {
                margin-bottom: 140px;
            }
        
            &__text {
            font-size: 15px;
            }

            &__buttons {
                margin: 0 auto;
            }
        }
    }

    .slider {
        &__inner {
            padding: 0;
        }
    }
}
    
@media (max-width: 640px) {
    .title {
        font-size: 38px;
        line-height: 38px;
        width: 100%;
    }

    .text {
        font-size: 14px;
    }

    .header {
        background-position: right;

        &__content {
            text-align: center;
        }

        &__title {
        font-size: 50px;
        }
        
        &__span {
            font-size: 100px;
            line-height: 100px;
        }

        &__wrap {
            display: block;
        }

        &__description-text {
            font-size: 14px;
        }
    }

    .about {
        &__title {
            padding: 50px;
        }
        &__content {
            margin-bottom: 0;
            padding-bottom: 70px;
        }
        &__box-subtitle {
            font-size: 16px;
        }

        &__description {
            display: block;
        }

        &__description-text {
            width: 100%;
            margin: 0 auto;
            margin-bottom: 15px;
        }

        &__table-tr {
            &:first-child {
                display: none;
            }
        }

        &__table-tr + &__table-tr {
            font-size: 17px;
        }

        &__table-td {
            display: block;
            text-align: right;
            border: 1px solid #fff;
            &::before {
            content: attr(aria-label);
            float: left;
            padding-left: 20px;
            }
            span {
                display: inline-block;
            }
        }   
    }

    .to-book {
        background-position: left;
    }

    .contacts {
        &__text {
            width: 100%;
        }

        &__img {
            max-width: 100%;
        }
    }
}

@media (max-width: 565px) {
    .title {
        font-size: 30px;
        line-height: 30px;
    }

    .header {
        &__title {
            font-size: 40px;
            line-height: 20px;
        }

        &__span {
            font-size: 80px;
            line-height: 80px;
        }
    }

    .how-to {
        &__box-item {
            font-size: 18px;
        }
    }

    .offer {
        padding-bottom: 60px;
        &__price-new {
            font-size: 40px;
            line-height: 50px;
        }
    }
    .services {
        .services__title {
            width: 100%;
            padding-bottom: 50px;
        }       
    }

    .contacts {
        &__wrap {
            width: 100%;
        }
    }

    .footer {
        text-align: center;
        padding: 50px 0 50px;
        
        &__inner {
            display: block;
        }

        &__text {
            width: 100%;
            margin: 0 0 30px;
            &:first-child {
                margin-bottom: 20px;
            }
        }

        &__menu {
            margin-bottom: 30px;
        }

        &__menu,
        &__links {
            margin-right: 0;
            width: 100%;
        }
    }
}
    
@media (max-width: 470px) {
    .title {
        font-size: 24px;
        line-height: 26px;
    }

    .header {
        &__top {
            padding: 30px 0 40px;
        }

        &__title {
            font-size: 35px;
        }

        &__span {
            font-size: 65px;
            line-height: 65px;
        }

        &__wrap-text {
            font-size: 22px;
        }

        &__btn {
            margin-bottom: 50px;
        }
    }

    .offer {
        &__text {
            font-size: 16px;
            line-height: 21px;
            width: 100%;
        }

        &__price-new {
            font-size: 23px;
        }
    }

    .services {
        &__list-title {
            font-size: 20px;
            line-height: 20px;
        }

        &__item {
            font-size: 18px;
            line-height: 35px;
        }
    }
}

@media (max-width: 376px) {
    .header {
        &__title {
            font-size: 30px;
            line-height: 30px;
        }

        &__span {
            font-size: 55px;
            line-height: 55px;
        }
    }
}