.footer {
    background-image: url("../images/footer-img.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    padding: 100px 0 150px;
    &__inner {
        display: flex;
        justify-content: flex-end;
    }

    &__text {
        margin-right: 50px;
        &:first-child {
        margin-bottom: 50px;
        }
    }

    &__menu {
        width: 120px;
        margin-right: 95px;
    }

    &__contacts {
        width: 165px;
    }

    &__menu-item,
    &__contacts-item {
        text-transform: uppercase;
        margin-bottom: 20px;
    }

    &__menu-link,
    &__contacts-link {
        transition: color .5s;
        -webkit-transition: color .5s;
        -moz-transition: color .5s;
        -ms-transition: color .5s;
        -o-transition: color .5s;
        &:hover {
            color: #CB0E0E;
        }
    }

}